/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* ------ */

:root {
  --color-light-xl: #ffffff;
  --color-dark-xl: #8e8e8e;
  --color-dark-1xl: #555b69;
  --color-dark-2xl: #323133;
  --color-dark-3xl: #000000;
  --color-primary: #f6cf91;
}

/* base */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(90deg, #323133 0%, #1b191e 100%);
  color: var(--color-light-xl);
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* wrapper */

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1440px;
  margin: 0 auto;
}

/* professional */

.professional {
  padding-top: 65px;
  padding-bottom: 90px;
}

.professional__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.professional__title,
.professional__subtitle {
  color: var(--color-light-xl);
  font-size: 28px;
  text-transform: uppercase;
}

.professional__container {
  position: relative;
  margin-top: 58px;
  min-height: 800px;
  background-image: url('../images/backgrounds/01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.professional__badge {
  position: absolute;
  top: 8%;
  right: 53%;
  display: inline-block;
  padding: 13px 35px;
  border: 1px solid var(--color-light-xl);
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-light-xl);
  font-size: 10px;
}

.professional__item-1 {
  position: absolute;
  top: 1%;
  right: 34%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__item-2 {
  position: absolute;
  top: 37%;
  left: 5%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__item-3 {
  position: absolute;
  top: 73%;
  left: 15%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__container-advantages {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.advantages__title {
  color: var(--color-light-xl);
  font-size: 24px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 20px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.advantages__icon {
  width: 40px;
  height: 40px;
}

.advantages__item-title {
  color: var(--color-light-xl);
  font-size: 14px;
  text-transform: uppercase;
}

.advantages__item-text {
  color: var(--color-light-xl);
  font-size: 16px;
}

/* complex */

.complex {
  padding-top: 65px;
}

.complex__inner {
}
.complex__title {
  color: var(--color-light-xl);
  font-size: 32px;
  text-transform: uppercase;
}

.complex__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.complex__badge {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 47px 67px;
  border-radius: 20px;
  gap: 14px;
  background: linear-gradient(
    90deg,
    rgba(112, 117, 125, 0.97) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.complex__badge-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.complex__icon {
  width: 30px;
  height: 30px;
}

.complex__badge-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.complex__badge-text {
  color: var(--color-light-xl);
  font-size: 11px;
}
.complex__container {
  position: relative;
  min-height: 830px;
  background-image: url('../images/backgrounds/02.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
.complex__list {
  height: 415px;
  position: absolute;
  top: 23%;
  right: 2%;
}
.complex__list-title {
  color: var(--color-light-xl);
  font-size: 13.5px;
  font-weight: 700;
}
.complex__item-1 {
  position: absolute;
  top: 15%;
  right: 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-2 {
  position: absolute;
  bottom: 35%;
  left: 15%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-3 {
  position: absolute;
  bottom: 4%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-number {
  color: var(--color-primary);
  font-size: 12px;
}
.complex__item-title {
  color: var(--color-light-xl);
  font-size: 13px;
}
.complex__item-text {
  color: var(--color-light-xl);
  font-size: 10px;
}

/* counter */

.counter {
  padding-top: 65px;
}
.counter__inner {
  background-image: url('../images/imgs/02.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.counter__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 10px;
}
.counter__title-number {
  color: var(--color-primary);
  font-size: 24px;
}
.counter__title {
  color: var(--color-primary);
  font-size: 27px;
  text-transform: uppercase;
}
.counter__text {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter__video {
  width: 662px;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 69px;
  background: url('../images/imgs/01.jpg');
  border-radius: 16px;
}
.counter__video-icon {
  width: 96px;
  height: 96px;
}
.counter-useful {
}
.counter-useful__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.counter-useful__list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 14px;
}
.counter-useful__list-item {
  display: flex;
  gap: 11px;
}

.counter-useful__icon {
  width: 55px;
  height: 55px;
}

.counter-useful__text-wrapper {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.counter-useful__list-title {
  color: var(--color-light-xl);
  font-size: 16px;
}

.counter-useful__list-text {
  color: var(--color-light-xl);
  font-size: 14px;
}
.counter-consist {
  margin-top: 56px;
  margin-bottom: 100px;
}
.counter-consist__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.counter-consist__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.counter-consist__list-item {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.counter-consist__list-img {
}
.counter-consist__list-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  height: 252px;
  background: linear-gradient(90deg, #fff 0%, rgba(174, 177, 181, 0.8) 100%);
  border-radius: 20px;
}

.counter-consist__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.counter-consist__list-title {
  color: var(--color-light-xl);
  font-size: 20px;
}
.counter-consist__list-text {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter-pluses {
}
.counter-pluses__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.counter-pluses__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.counter-pluses__subtitle {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter-pluses__list {
  display: grid;
  grid-template-areas:
    'pluses-item-1 pluses-item-1 pluses-item-4'
    'pluses-item-2 pluses-item-3 pluses-item-4';
  row-gap: 35px;
  column-gap: 30px;
  align-items: end;
  margin-top: 45px;
}
.counter-pluses__item1 {
  grid-area: pluses-item-1;
  max-width: 661px;
  height: 406px;
  background-image: url('../images/imgs/06.png');
  background-repeat: no-repeat;
  background-color: var(--color-primary);
  border-radius: 20px;
}
.counter__item1-title {
  max-width: 250px;
  padding: 52px 0 0 37px;
  color: var(--color-dark-2xl);
  font-size: 20px;
}
.counter-pluses__item2 {
  grid-area: pluses-item-2;
  max-width: 364px;
  height: 461px;
  background-image: url('../images/imgs/07.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--color-dark-2xl);
  border: 1px solid var(--color-dark-xl);
  border-radius: 20px;
}
.counter-pluses__item2-wrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 52px 0 0 37px;
}
.counter-pluses__item2-title {
  color: var(--color-light-xl);
  font-size: 20px;
}
.counter-pluses__item2-text {
  max-width: 135px;
  color: var(--color-light-xl);
  font-size: 14px;
}
.counter-pluses__item3 {
  grid-area: pluses-item-3;
  max-width: 270px;
  height: 460px;
  background-image: url('../images/imgs/08.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--color-dark-2xl);
  border-radius: 20px;
}
.counter-pluses__item3-wrapper {
  max-width: 175px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 52px 0 0 37px;
}
.counter-pluses__item3-title {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter-pluses__item3-text {
  color: var(--color-light-xl);
  font-size: 12px;
  line-height: 20px;
}
.counter-pluses__item4 {
  grid-area: pluses-item-4;
  max-width: 459px;
  height: 905px;
  background-image: url('../images/imgs/09.png'), url('../images/imgs/09-2.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-color: var(--color-dark-xl);
  border-radius: 20px;
}
.counter-pluses__item4-wrapper {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 52px 0 0 37px;
}
.counter-pluses__item4-title {
  color: var(--color-light-xl);
  font-size: 20px;
}
.counter-pluses__item4-badge {
  padding: 7px 15px;
  background-color: var(--color-light-xl);
  border-radius: 20px;
  color: var(--color-dark-1xl);
  font-size: 10px;
}
.counter-pluses__item4-text {
  max-width: 250px;
  color: var(--color-light-xl);
  font-size: 14px;
  line-height: 20px;
}
.counter-principle {
  margin-top: 90px;
  margin-bottom: 100px;
}
.counter-principle__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.counter-principle__list {
  margin-top: 44px;
  display: grid;
  grid-template-areas:
    'principle-item-1 principle-item-2 principle-item-3'
    'principle-item-4 principle-item-5 principle-item-5';
  row-gap: 25px;
}
.counter-principle__list-item1 {
  max-width: 368px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 0 20px;
  grid-area: principle-item-1;

  background-image: url('../images/imgs/10.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 20px;
}
.counter-principle__item1-number {
  max-width: 50px;
  color: var(--color-primary);
  font-size: 18px;
}
.counter-principle__item1-text {
  max-width: 230px;
  color: var(--color-dark-2xl);
  font-size: 16px;
}
.counter-principle__item1-subtext {
  max-width: 80px;
  color: var(--color-dark-3xl);
  font-size: 14px;
}
.counter-principle__list-item2 {
  max-width: 368px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 0 20px;
  grid-area: principle-item-2;

  background-image: url('../images/imgs/11.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 20px;
}
.counter-principle__item2-number {
  max-width: 50px;
  color: var(--color-primary);
  font-size: 18px;
}
.counter-principle__item2-text {
  max-width: 230px;
  color: var(--color-dark-2xl);
  font-size: 16px;
}
.counter-principle__item2-subtext {
  max-width: 110px;
  color: var(--color-dark-3xl);
  font-size: 14px;
}
.counter-principle__list-item3 {
  max-width: 368px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 0 20px;
  grid-area: principle-item-3;

  background-image: url('../images/imgs/12.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 20px;
}
.counter-principle__item3-number {
  max-width: 50px;
  color: var(--color-primary);
  font-size: 18px;
}
.counter-principle__item3-text {
  max-width: 120px;
  color: var(--color-dark-2xl);
  font-size: 16px;
}
.counter-principle__item3-subtext {
  max-width: 110px;
  color: var(--color-dark-3xl);
  font-size: 14px;
}
.counter-principle__list-item4 {
  max-width: 368px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 0 20px;
  grid-area: principle-item-4;

  background-image: url('../images/imgs/13.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 20px;
}
.counter-principle__item4-number {
  max-width: 50px;
  color: var(--color-primary);
  font-size: 18px;
}
.counter-principle__item4-text {
  max-width: 130px;
  color: var(--color-dark-2xl);
  font-size: 16px;
}
.counter-principle__item4-subtext {
  max-width: 90px;
  color: var(--color-dark-3xl);
  font-size: 14px;
}
.counter-principle__list-item5 {
  max-width: 750px;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 35px 0 0 20px;
  grid-area: principle-item-5;

  background-image: url('../images/imgs/14.png');
  background-repeat: no-repeat;
  background-color: var(--color-dark-2xl);
  background-position: bottom right;
  border: 1px solid var(--color-dark-xl);
  border-radius: 20px;
}
.counter-principle__item5-number {
  max-width: 50px;
  color: var(--color-primary);
  font-size: 18px;
}
.counter-principle__item5-text {
  max-width: 320px;
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter-principle__item5-subtext {
  max-width: 290px;
  color: var(--color-light-xl);
  font-size: 14px;
}

/* contur */

.contur {
  padding-top: 65px;
}
.contur__inner {
  background-image: url('../images/imgs/15.png');
  background-repeat: no-repeat;
  background-position: 110%;
  background-size: contain;
}
.contur__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contur__title-number {
  color: var(--color-primary);
  font-size: 24px;
}
.contur__title {
  color: var(--color-primary);
  font-size: 27px;
  text-transform: uppercase;
}
.contur__text-1 {
  max-width: 281px;
  color: var(--color-light-xl);
  font-size: 16px;
}
.contur__text-2 {
  max-width: 466px;
  color: var(--color-light-xl);
  font-size: 16px;
}
.contur__video {
  width: 662px;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
  background: url('../images/imgs/01.jpg');
  border-radius: 16px;
}
.contur__video-icon {
  width: 96px;
  height: 96px;
}
.contur-useful {
  margin-top: 56px;
  margin-bottom: 100px;
}
.contur-useful__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.contur-useful__list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 14px;
}
.contur-useful__list-item {
  display: flex;
  gap: 11px;
}
.contur-useful__icon {
  width: 55px;
  height: 55px;
}
.contur-useful__text-wrapper {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.contur-useful__list-title {
  color: var(--color-light-xl);
  font-size: 16px;
}
.contur-useful__list-text {
  color: var(--color-light-xl);
  font-size: 14px;
}
.contur-consist {
  margin-bottom: 100px;
}
.contur-consist__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.contur-consist__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 54px;
}
.contur-consist__list-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contur-consist__list-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 225px;
  background: linear-gradient(90deg, #fff 0%, rgba(174, 177, 181, 0.8) 100%);
  border-radius: 30px;
}
.contur-consist__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.contur-consist__list-title {
  color: var(--color-light-xl);
  font-size: 20px;
}
.contur-consist__list-text {
  max-width: 410px;
  color: var(--color-light-xl);
  font-size: 16px;
}
.contur-pluses {
}
.contur-pluses__title {
}
.contur-pluses__list {
}
.contur-pluses__list-item {
}
.contur-pluses__item-title {
}
.contur-pluses__item-text {
}
.contur-principle {
}
.contur-principle__title {
}
.contur-principle__list {
}
.contur-principle__list-item {
}
.contur-principle__item-number {
}
.contur-principle__item-text {
}
.contur-principle__item-subtext {
}