/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/* ------ */

:root {
  --color-light-xl: #ffffff;
  --color-dark-xl: #8e8e8e;
  --color-dark-2xl: #323133;
  --color-dark-3xl: #000000;
  --color-primary: #f6cf91;
}

/* base */

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid red;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(90deg, #323133 0%, #1b191e 100%);
  color: var(--color-light-xl);
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* wrapper */

.container {
  max-width: 1152px;
  margin: 0 auto;
}

.container-xl {
  max-width: 1440px;
  margin: 0 auto;
}

/* professional */

.professional {
  padding-top: 65px;
  padding-bottom: 90px;
}

.professional__title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.professional__title,
.professional__subtitle {
  color: var(--color-light-xl);
  font-size: 28px;
  text-transform: uppercase;
}

.professional__container {
  position: relative;
  margin-top: 58px;
  min-height: 800px;
  background-image: url('../images/backgrounds/01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.professional__badge {
  position: absolute;
  top: 8%;
  right: 53%;
  display: inline-block;
  padding: 13px 35px;
  border: 1px solid var(--color-light-xl);
  border-radius: 10px;
  background-color: transparent;
  color: var(--color-light-xl);
  font-size: 10px;
}

.professional__item-1 {
  position: absolute;
  top: 1%;
  right: 34%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__item-2 {
  position: absolute;
  top: 37%;
  left: 5%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__item-3 {
  position: absolute;
  top: 73%;
  left: 15%;
  color: var(--color-light-xl);
  font-size: 13px;
}

.professional__container-advantages {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.advantages__title {
  color: var(--color-light-xl);
  font-size: 24px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 50px;
  column-gap: 20px;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.advantages__icon {
  width: 40px;
  height: 40px;
}

.advantages__item-title {
  color: var(--color-light-xl);
  font-size: 14px;
  text-transform: uppercase;
}

.advantages__item-text {
  color: var(--color-light-xl);
  font-size: 16px;
}

/* complex */

.complex {
  padding-top: 65px;
}

.complex__inner {
}
.complex__title {
  color: var(--color-light-xl);
  font-size: 32px;
  text-transform: uppercase;
}

.complex__wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.complex__badge {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  padding: 47px 67px;
  border-radius: 20px;
  gap: 14px;
  background: linear-gradient(
    90deg,
    rgba(112, 117, 125, 0.97) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.complex__badge-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.complex__icon {
  width: 30px;
  height: 30px;
}

.complex__badge-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.complex__badge-text {
  color: var(--color-light-xl);
  font-size: 11px;
}
.complex__container {
  position: relative;
  min-height: 830px;
  background-image: url('../images/backgrounds/02.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}
.complex__list {
  height: 415px;
  position: absolute;
  top: 23%;
  right: 2%;
}
.complex__list-title {
  color: var(--color-light-xl);
  font-size: 13.5px;
  font-weight: 700;
}
.complex__item-1 {
  position: absolute;
  top: 15%;
  right: 0;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-2 {
  position: absolute;
  bottom: 35%;
  left: 15%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-3 {
  position: absolute;
  bottom: 4%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.complex__item-number {
  color: var(--color-primary);
  font-size: 12px;
}
.complex__item-title {
  color: var(--color-light-xl);
  font-size: 13px;
}
.complex__item-text {
  color: var(--color-light-xl);
  font-size: 10px;
}

/* counter */

.counter {
  padding-top: 65px;
}
.counter__inner {
  background-image: url('../images/imgs/02.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
.counter__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 10px;
}
.counter__title-number {
  color: var(--color-primary);
  font-size: 24px;
}
.counter__title {
  color: var(--color-primary);
  font-size: 27px;
  text-transform: uppercase;
}
.counter__text {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter__video {
  width: 662px;
  height: 336px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 69px;
  background: url('../images/imgs/01.jpg');
  border-radius: 16px;
}
.counter__video-icon {
  width: 96px;
  height: 96px;
}
.counter-useful {
}
.counter-useful__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.counter-useful__list {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  gap: 14px;
}
.counter-useful__list-item {
  display: flex;
  gap: 11px;
}

.counter-useful__icon {
  width: 27px;
  height: 27px;
}

.counter-useful__text-wrapper {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.counter-useful__list-title {
  color: var(--color-light-xl);
  font-size: 11px;
}

.counter-useful__list-text {
  color: var(--color-light-xl);
  font-size: 10px;
}
.counter-consist {
  margin-top: 56px;
  margin-bottom: 100px;
}
.counter-consist__title {
  color: var(--color-light-xl);
  font-size: 20px;
  font-weight: 700;
}
.counter-consist__list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.counter-consist__list-item {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.counter-consist__list-img {

}
.counter-consist__list-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  height: 252px;
  background: linear-gradient(90deg, #FFF 0%, rgba(174, 177, 181, 0.80) 100%);
  border-radius: 20px;
  opacity: 0.6;
}

.counter-consist__list-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.counter-consist__list-title {
  color: var(--color-light-xl);
  font-size: 20px;
}
.counter-consist__list-text {
  color: var(--color-light-xl);
  font-size: 16px;
}
.counter-pluses {
}
.counter-pluses__title {
}
.counter-pluses__subtitle {
}
.counter-pluses__list {
}
.counter-pluses__list-item {
}
.counter-pluses__item-title {
}
.counter-pluses__item-text {
}
.counter-pluses__item-badge {
}
.counter-principle {
}
.counter-principle__title {
}
.counter-principle__list {
}
.counter-principle__list-item {
}
.counter-principle__item-number {
}
.counter-principle__item-text {
}
.counter-principle__item-subtext {
}
